# Dependencies
node_modules/

# Tools
tools/
css-cleanup/
.css-cleanup/

# Editor settings (ignore unless you want to share VS Code configs)
.vscode/
CGCSP-Github.code-workspace

# Test and Validation helpers
build-sync.js
settings.json
moveNewEntriesInMessagesJsonToEnd.py
messagesJsonToMoveToEnd.txt
moveAndRenameNumberedLanguageFiles.ps1

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS junk
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Excel files
*.xlsx

# Packed extensions / keys
*.zip
*.crx
*.pem

# Coverage (if you add tests later)
coverage/
.nyc_output/